body {
    background-image: url(tlo.png);
    background-repeat: no-repeat;
    background-color: black;
}

.page {
    margin-inline: auto;
    max-width: 72rem;
    padding-inline: 1rem;
    text-align: center;
}

img {
    border: 2px solid white;
    max-width: 250px;
    border-radius: 10px;
}
h1 {
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

a:link {
    color: aqua;
}

a:hover {
    color: red;
}

.radial-shape {
    background: radial-gradient(circle cover at center, red, yellow, white);
    height: 10vh;
}