body {
    text-align: center;
    background-color: rgb(244, 244, 244);
}
img {
    margin: 20px 0 0 0;
    width: 15%;
    height: auto;
    border: 2px solid gray;
    border-radius: 10px;
}
h1 {
    margin: 10px 0 0 0;
    color: rgb(3, 3, 3);
}

h2 {
    font-size: 18px;
    color: rgb(10, 10, 10);
}