body {
    text-align: center;
    background-color: rgb(244, 244, 244);
}

.main {
    margin: 50%;
    background-color: rgb(234, 234, 234);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 300px;
    border: 2px solid gray;
    border-radius: 10px;
}

img {
    border: 2px solid white;
    max-width: 250px;
    border-radius: 10px;
}
h1 {
    color: rgb(3, 3, 3);
}

h2 {
    font-size: 18px;
    color: rgb(10, 10, 10);
}